<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro blog</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/about">Sobre mi</a>
    <a href="/blog">Blog</a>
    <h1>Mi blog de Astro aprendizaje</h1>
    <p>
        Aqui es donde publicare sobre mi viaje de aprendizaje con astro
    </p>
</body>
</html>